.app {
  background-color: #EEEEEE;
  color:#333333;
  font-size: 14px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-header{
  background-color: #FFE600;
  font-size: 18px;
  padding: 5px 0;
}

.app-header.search-button{
  background-color: #EEEEEE;
  color:#333333;
}

.app-breadcrumbs{
  margin: 0 16px;

}

.btn-primary{
  color:#EEEEEE;
  background-color: #3483FA;
}

.section {
  flex: 1;
}

.footer{
  background-color: #EEEEEE;
}

.img-logo-container{
  text-align: right;
  vertical-align: middle;
}

.bg-gray{
  background-color: #EEEEEE;
}

.custom-control{
  width: 100%;
}

/* Breadcrumbs */
.custom-breadcrumbs{
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  text-align: left;
}

.custom-breadcrumbs a{
  color:#999999;
  font-size: 14px!important;
  text-decoration: none!important;
  padding: 0 0.5em;
}

.custom-breadcrumbs li + li::before{
  content: '>'!important;
}

.custom-breadcrumbs .is-active{
  font-weight: 500;
}

.custom-breadcrumbs li.is-active a{
  color:#999999;
}

.custom-no-breadcrumbs{
  margin-top: 10px;
}

/* Search Results */


/* Product details */
